html,
body {
  margin: 0;
  padding: 1rem;
  font-family: monospace;
  background: #ddd;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 1rem auto 3rem;
  font-size: clamp(2em, 10vw, 8em);
  font-weight: 400;
}

h1 span::before {
  content: '@';
  animation: blink 3s infinite;
}

@keyframes blink {

  0%,
  50%,
  70%,
  95% {
    content: '@';
  }

  65%,
  90% {
    content: '—';
  }
}

p {
  margin: 0 auto 1em;
}



/* https://codepen.io/mandelid/pen/vwKoe */
.spinner {
  display: inline-block;
  transition: opacity linear 0.1s;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  opacity: 0;
}

.spinner--active {
  opacity: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.header_inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.header_link:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}